[Unit]
Description=Compton Compositor
Documentation=man:compton(1)

[Service]
Type=forking
ExecStart=/usr/bin/compton --backend=glx -b

[Install]
WantedBy=compositor.target
